:root {
  --bg-primary: #ffffff;
  --bg-secondary: #f5f4fa;
  --bg-accent: #2f303a;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --button-bg-color: #f5f4fa;
}

body {
  background-color: var(--bg-primary);
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0px auto;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
p {
  margin: 10px 0px 0px 0px;
}
ul {
  padding: 0;
  margin: 0;
}
/* Утилиты */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.image {
  display: block;
  margin: 0;
  max-width: 100%;
  height: auto;
}
.centered {
  text-align: center;
}

/* Заголовки */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.section-title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  color: var(--secondary-text-color);
}
.feature-list-item-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.16;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.team-title {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
}
/* Секция ХЕДЕР  */
.header-section {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px #ececec solid;
}
.header-container {
  display: flex;
}
/* Логотип */
.logo-container {
  margin-right: 93px;
}
.logo,
.logo:focus {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--secondary-text-color);
  text-decoration: none;
}
.logo-first-part {
  font-family: Raleway;
  font-weight: 700;

  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
  text-decoration: none;
}
.logo-white {
  color: var(--bg-primary);
}
/*Секция Герой */
.hero-section {
  background-color: var(--bg-accent);
  color: #ffffff;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  max-width: 696px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  /* width: 200px;
  height: 50px; */
  border: 0px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  padding: 10px 32px 10px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: inherit;
  cursor: pointer;
}
.hero-button:hover {
  background-color: #188ce8;
}
/* Секция Преимущества */
.feature-section {
  padding-bottom: 0;
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.feature-list-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}
.feature-list-icon {
  background-image: ;
}
/* Секция Чем мы занимаемся */
.occupation-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.occupation-list-item {
  flex-basis: calc(100% / 3 -30px);
  margin-right: 30px;
  margin-bottom: 30px;
}
.occupation-list-item:last-child {
  margin-right: 0px;
}

/* Навигационные ссылки */
.nav-container {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  margin-right: auto;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}
.nav-list-link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin: 0;
}
.nav-contacts-icon {
  margin-right: 10px;
}
.nav-contacts-icon:hover {
  fill: var(--accent-color);
}
.current-page {
  color: var(--accent-color);
}
.nav-list-link:hover,
:focus {
  color: var(--accent-color);
}
/* Контактные ссылки */
.nav-contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.nav-contacts-item:not(:last-child) {
  margin-right: 50px;
  align-items: center;
  justify-content: center;
}
.nav-contacts-link {
  padding: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

.nav-contacts-link:hover,
:focus {
  color: var(--accent-color);
}
.list {
  list-style-type: none;
}
/* Наша команда */
.team-section {
  background-color: var(--bg-secondary);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.team-list-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  background-color: var(--bg-primary);
}
.team-list-item:last-child {
  margin-right: 0px;
}
.character-job {
  text-align: center;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 1.19;
}
/* Подвал */
.footer-logo {
  display: block;
}
.address-section {
  margin-top: 20px;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-text-color);
}
.company-location {
  display: block;
  color: var(--bg-primary);
  font-style: normal;
}
.contacts-footer {
  display: block;
  margin-top: 10px;
  color: var(--footer-text-color);
  text-decoration: none;
}
.contacts-footer:hover,
:focus {
  color: var(--accent-color);
}

.footer-section {
  background-color: var(--bg-accent);
  padding-top: 60px;
  padding-bottom: 60px;
}
/* PORTFOLIO STYLES */
/* Фильтры проектов */
.filter-list {
  display: flex;
  margin-bottom: 50px;

  justify-content: center;
}
.filter-list-item:not(:last-child) {
  margin-right: 8px;
}
.filter-button {
  padding: 6px 22px;
  border-width: 0px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--secondary-text-color);
  background-color: var(--button-bg-color);
  text-decoration: none;
}
.filter-button:last-child {
  margin-right: 0px;
}
.filter-button:focus,
.filter-button:hover {
  background-color: var(--accent-color);
  color: var(--bg-primary);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Список примеров из портфолио */
.portfolio-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}
.portfolio-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.portfolio-list-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-list-text {
  margin-top: 6px;
}
.portfolio-list-item-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 1px solid transparent;
}
